.logo {
  animation: popUp 0.8s ease;
}
#navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
}
#dropdownMenu {
  padding: 1rem;
  margin-top: 0.4rem;
  white-space: nowrap;
  font-size: 18px;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  border-radius: 9px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.97);
  opacity: 0;
  animation: fadeUp 0.2s ease forwards;
}
.navbar {
  background: rgba(255, 255, 255, 0);
  border-radius: 9px;
  margin-top: 0.4rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(224, 211, 211, 0.01);
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start 20px lower */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}
.nav-buttons button:nth-child(1) {
  opacity: 0;
  animation: popUp 0.8s ease forwards 0.1s;
}
.proj {
  margin-left: 1rem;
  margin-right: 1.6rem;
}
.nav-buttons button:nth-child(2) {
  transform: scale(0.8);
  opacity: 0;
  animation: popUp 0.8s ease forwards 0.3s;
}

.dropdown-button {
  transform: scale(0.8);
  opacity: 0;
  animation: popUp 0.8s ease forwards 0.4s;
}

.burger-icon {
  transform: scale(0.8);
  opacity: 0;
  animation: popUp 0.8s ease forwards 0.5s;
}

.nav-links a {
  position: relative;
  transition: 0.3s ease;
}

.nav-links li:nth-child(1) {
  animation: slideIn 0.8s ease forwards 0.2s;
  transform: translateX(5%);
  opacity: 0;
}

.nav-links li:nth-child(2) {
  animation: slideIn 0.8s ease forwards 0.3s;
  transform: translateX(5%);
  opacity: 0;
}

.nav-links li:nth-child(3) {
  animation: slideIn 0.8s ease forwards 0.4s;
  transform: translateX(5%);
  opacity: 0;
}

.nav-links li:nth-child(4) {
  animation: slideIn 0.8s ease forwards 0.5s;
  transform: translateX(5%);
  opacity: 0;
}

.nav-links a:hover {
  color: black;
}

.nav-links a:after {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.nav-links a.active {
  color: black;
}

.nav-links a.active:after {
  background-color: #f05039;
}

.nav-links a:hover:after {
  background-color: #f05039;
}

.main-menu {
  box-shadow: 0px 4px 10px 0px #0000001a;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
  width: 500px;
  right: 15px;
  top: 15px;
  border-radius: 16px;
  transition: 0.8s ease;
  visibility: hidden;
  max-height: 0;
  padding: 0 30px 0 30px;
}

.main-menu.active {
  visibility: visible;
  max-height: 1000px;
  padding: 20px 30px 30px 30px;
}

.navbar.active .main-menu {
}

@media screen and (max-width: 570px) {
  .main-menu {
    width: 92%;
    padding: 0 20px 0 20px;
  }

  .main-menu.active {
    padding: 10px 20px 20px 20px;
  }
}

.main-menu .menu-links a {
  opacity: 0;
  transform: translateX(5%);
}

.main-menu .pop-up-animation {
  transform: scale(0.7);
  opacity: 0;
}

.main-menu.active .pop-up-animation {
  animation: popUp 0.5s ease forwards 0.6s;
}

.main-menu.active .question-links a {
  transform: scale(0.7);
  opacity: 0;
}

.main-menu.active .question-links a:nth-child(1) {
  animation: popUp 0.5s ease forwards 0.7s;
}

.main-menu.active .question-links a:nth-child(2) {
  animation: popUp 0.5s ease forwards 0.8s;
}

.main-menu.active .question-links a:nth-child(3) {
  animation: popUp 0.5s ease forwards 0.9s;
}

.main-menu.active .social-links button {
  transform: scale(0.7);
  opacity: 0;
}

.main-menu.active .social-links button:nth-child(1) {
  animation: popUp 0.5s ease forwards 0.7s;
}

.main-menu.active .social-links button:nth-child(2) {
  animation: popUp 0.5s ease forwards 0.8s;
}

.main-menu.active .social-links button:nth-child(3) {
  animation: popUp 0.5s ease forwards 0.9s;
}

.main-menu.active .menu-links a:nth-child(1) {
  animation: slideIn 0.5s ease forwards 0.1s;
}

.main-menu.active .menu-links a:nth-child(2) {
  animation: slideIn 0.5s ease forwards 0.3s;
}

.main-menu.active .menu-links a:nth-child(3) {
  animation: slideIn 0.5s ease forwards 0.5s;
}

.main-menu.active .menu-links a:nth-child(4) {
  animation: slideIn 0.5s ease forwards 0.7s;
}

.main-menu.active .menu-links a:nth-child(5) {
  animation: slideIn 0.5s ease forwards 0.9s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.nav-links-drop-down {
  display: none;
}

.navbar.active {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  border-radius: 40px;
  height: 70px;
  display: flex;
  align-items: center;
  top: 10px;
}

.navbar.active .container > div {
  margin-top: 0;
  align-items: center;
}

.navbar.active .nav-links {
  display: none;
}

.navbar.active .nav-links-drop-down {
  display: block;
  margin-right: 134px;
}
